@import "modules/mixins";
@import "modules/variables";

@import "partials/footer";
@import "partials/nav";
@import "partials/index";
@import "gallery";


body {
  font-family: 'Raleway', sans-serif;
  background-color: $black-80;
}

section.main-content {
  position: relative;
  margin: 0px auto 0;
  width: 75%;
  background-color: white;
  padding: 100px;
}

div#headerbar {
  display: inline-block;
  background-color: $black-10;
  width: 100%;
  margin-top: -60px;
  text-align: center;
  padding: 10px;
  line-height: 60%;
  z-index: 999;
}

#searchbox {
  display: inline-block;
  left: 100px;
}

section.all-but-nav {
  margin-top: 90px;
}

article {
  margin-bottom: 50px;
}

.review {
  padding: 20px;
  background-color: $black-10;
  border-radius: 10px;
}

.rblock {
  display: inline-block;
  color: blue;
  margin: 10px;
}

p.rblock-right {
  text-align: right;
  display: inline-block;
}

#headerimg {
  background-color: $lightblue;
  height: 400px;
  width: 75%;
  margin: 0 auto;
  top: 20px;
  border-radius: 20px;
}
